@mixin styles {
  color-scheme: dark;

  /* Framework color */
  --main-bg: #1B1B1E; /* Charcoal */
  --mask-bg: #444546;
  --main-border-color: #E89DA6; /* Dusk Rose */

  /* Common color */
  --text-color: #B0B0B0; /* Soft Gray */
  --text-muted-color: #868686;
  --text-muted-highlight-color: #AEAEAE;
  --heading-color: #E89DA6; /* Dusk Rose */
  --label-color: #A7A7A7;
  --blockquote-border-color: #424242;
  --blockquote-text-color: #868686;
  --link-color: #E89DA6; /* Dusk Rose */
  --link-underline-color: #B76E79; /* Rose Gold */
  --button-bg: #1E1E1E;
  --btn-border-color: #2E2F31;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #212122;
  --card-header-bg: #292929;
  --checkbox-color: #767879;
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, #161618 0%, #202020 100%);
  --shimmer-bg: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(58, 55, 55, 0.4) 50%, rgba(255, 255, 255, 0) 100%);

  /* Sidebar */
  --site-title-color: #E89DA6;  /* Dusk Rose */
  --site-subtitle-color: #868686;
  --sidebar-bg: #1E1E1E;
  --sidebar-border-color: #292929;
  --sidebar-muted-color: #868686;
  --sidebar-active-color: #E89DA6;  /* Dusk Rose */
  --sidebar-hover-bg: #262626;
  --sidebar-btn-bg: #232328;
  --sidebar-btn-color: #787878;
  --avatar-border-color: #E89DA6;  /* Dusk Rose */

  /* Topbar */
  --topbar-bg: rgba(27, 27, 30, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: #373737;
  --search-icon-color: #646669;
  --input-focus-border-color: #707273;

  /* Posts */
  --toc-highlight: #E89DA6; /* Dusk Rose */
  --toc-popup-border-color: #373737;
  --tag-hover: #2B383E;
  --tb-odd-bg: #252526;
  --tb-even-bg: #1F1F22;
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: #3F51B5;
  --btn-share-color: #6C757D;
  --btn-share-hover-color: #BFC1CA;
  --card-bg: #1E1E1E;
  --card-hover-bg: #464D51;
  --card-shadow: rgba(21, 21, 21, 0.72) 0 6px 18px 0, rgba(137, 135, 135, 0.24) 0 0 0 1px;

  /* Tags */
  --tag-border: #3B4F58;
  --tag-shadow: #202121;
  --dash-color: #3F4144;
  --search-tag-bg: #292828;

  /* Code highlight colors */
  --highlight-bg-color: #151515;
  --code-color: #B0B0B0; /* Soft Gray */
  --inline-code-bg: rgba(255, 255, 255, 0.05);
  --clipboard-checked-color: #2BCC2B;
  --filepath-text-color: #CACACA;
}
